@media only screen and (max-width: 768px) {
/*	.center {
		max-width: 768px;
	}*/

	body {
		font-size: 90%;
	}

	.header-top > div {
		float: none;
		display: block;
		width: 100%;
		text-align: center;
	}

	.header-top > div a {
		display: inline-block;
	}

	nav {
		float: none;
		display: block;
		text-align: center;
	}

	nav li {
		float: none;
		display: inline-block;
	}

	nav li:first-child {
		margin: 22px 0 0 0;
	}

	/* #main-image starts*/

	.main-image > div {
	display: block;
	width: 100%;
	text-align: center;
 }

 .main-image > div img {
 	display: inline-block;
 }

.main-image div:nth-child(2) {
	margin: 0;
 }

 /* #main-image ends*/

 /* #section starts*/
 .section-right,
 .section-left {
 	display: block;
 	width: 100%;
 }

 /* #section starts*/

 /* #figure starts*/
 figure ul {
 	display: inline-block;
 	letter-spacing: 0;
 }

 figure ul li {
 	width: 68%;
 }
 /* #figure ends*/

 /*#footer starts */

 .footer-details {
 	padding: 0 15% 0 25%;
 }
 .footer-details > div {
 	width: 100%;
 	padding: 0 10%;
 }

 .footer-details div:nth-child(3n+2) {
	margin: 0 0 80px 0; /* 70 / 1065 */ 
}
 /*#footer ends */

 /*#copyright starts*/
 .copyright p {
 	float: none;
 	display: inline-block;
 	height: 50px;
 	line-height: 50px;
 	display: block;
 }

 .copyright li:first-child {
 	margin: 0;
 }

 .copyright li a {
 	height: 50px;
 	line-height: 50px;
 }
 /*#copyright starts*/

}
