
@import url("reset.css");

body {
	font-family: 'Roboto', sans-serif;
	color: #fff;
	font-size: 100%;
	font-weight: 400;
}

img {
	display: block;
	max-width: 100%;
}

.clearfix:after {
	content: '';
	clear: both;
	display: block;
}

/* #header starts */
header {
	background: url(../images/img-hero-image.jpg) center center no-repeat;
	height: 800px;
	background-size: cover;
	margin-bottom: 100px;
}

.center {
	max-width: 1440px;
	margin: auto;
	position: relative;
}

header span {
	position: absolute;
	top: 0;
	left: 0; 
	background-color: #000;
	opacity: .7;
	width: 100%;
	height: 800px;
}

.header-top {
	position: absolute;
	top: 0;
	left: 0;
	margin: 51px 0 0 0;
	padding: 0 4.166667%;
	width: 100%;
}

.header-top > div {
	float: left;
	margin-top: 13px;
	width: 121px; /* 121 / 1440 */
}

nav {
	float: right;
}

nav li {
	float: left;
	margin: 22px 0 0 40px;
}

nav li a {
	display: block;
	text-decoration: none;
  color: #ffffff;
  height: 19px;
  font-size: 1em; /* 16 / 16 */
	line-height: 19px;
}

nav li a:hover {
	color: #88c542;
}

nav .active a {
	color: #88c542;
}

.header-bottom {
	position: absolute;
	top: 310px;
	left: 0;
	width: 100%;
	text-align: center;
}

.header-bottom h1 {
	font-size: 5.125em; /* 82 / 16 */
}

.header-bottom p {
	font-size: 1.25em; /* 20 / 16 */
	margin-top: 29px;
	line-height: 1.4;
	opacity: 0.7;
}

.btn {
	display: inline-block;
	background: #27ad6c url(../images/ic-arrow.png) 149px 24px no-repeat;
	color: #fff;
	text-decoration: none;
	font-size: 1em;
	width: 192px; /* 192 / 1440 */
	height: 67px;
	padding: 24px 0;
	border-radius: 4px;
	margin-top: 39px;
	text-transform: uppercase;
}
/* #header ends */


/* #main starts */
main {
	text-align: center;
}

.heading2 {
	font-size: 3em; /* 48 / 16 */
	font-weight: 400;
	color: #9b9b9b;
}

main .heading2 {
	margin: 45px 0 84px 0;
}

.main-image {
	letter-spacing: -4px; /* to fill the inline-block space*/
}

.main-image > div {
	display: inline-block;
	width: 20.8333334%; /* 300 / 1440 */
	vertical-align: top;
	letter-spacing: 0;
}

.main-image div:nth-child(2) {
	margin: 0 80px;
}

.main-image h3 {
	margin: 40px 0 8px 0;
	font-weight: 700;
	font-size: 1.125em; /* 18 / 16 */
	color: #27ad6c;
	line-height: 1.33;
}

.main-image p {
	font-size: 0.875em; /* 14 / 16 */
	color: #4a4a4a;
	opacity: 0.78;
	line-height: 1.57;
}
/* #main ends*/

/* #section starts*/
section {
	padding: 146px 0 111px 0;
	text-align: center;
	letter-spacing: -4px;
}

.section-right,
.section-left {
	display: inline-block;
	width: 49.8611111111%; /* 718 / 1440 */
	padding:0 7.4444%; /* 120 / 1440 */
	margin-bottom: 121px;
	vertical-align: top;
	text-align: left;
	letter-spacing: 0;
}

.section-left div {
	padding: 25px 0;
	border-bottom: 1px solid rgba(136, 197, 66, 0.2);
}

.section-right div {
	padding: 20px 0;
	border-bottom: 1px solid rgba(136, 197, 66, 0.2);
}

.section-right h2 {
	margin-bottom: 5px;
}

section .center > div div:last-child {
	border: 0;
	padding-bottom: 5px;
}

.section-right {
	border-left: 1px solid #88c542;
}

section div img {
	display: inline-block;
	vertical-align: middle;
	margin-right: 4px;
}

section div strong {
	display: inline-block;
	vertical-align: middle;
	color: #27ad6c;
	font-size: 1em; /* 16 / 16 */
	font-weight: 400;
}

section div span {
	display: block;
	color: rgba(155, 155, 155, 0.5);
	margin-top: 6px;
	font-size: 0.8125em; /* 13 / 16 */
}

.section-bottom {
	width: 23.95833333%; /* 345 / 1440 */
	display: inline-block;
	position: relative;
}

.section-bottom img {
	margin: 0; /*to over-ride margin-right: 4px*/
}

.section-bottom:before,
.section-bottom:after {
    background-color:  #88c542;
    content: "";
    height: 1px;
    width: 35.6522%; /* 123 / 345 */
    position: absolute;
    top: 28px;
}

.section-bottom:before {
    right: 0;
}

.section-bottom:after {
    left: 0;
 }
/* #section ends*/


/* #figure starts*/
figure {
	text-align: center;
}

figure span {
	display: inline-block;
	font-size: 0.875em; /* 14 / 16 */
	font-style: italic;
	color: #9b9b9b;
	margin: 18px 0 31px 0;
}

figure ul {
	/*font-size: 0;*/
	letter-spacing: -4px;
	line-height: 0; /*to remove the vertical spacing of inline-block element*/
}

figure ul li {
	display: inline-block;
	width: 33.3333334%; /* 480 / 1440 */
}
/* #figure ends*/

/* #footer starts*/
footer {
	background:	#423633;
	text-align: center;
	padding: 145px 0 70px 0;
}

footer .heading2 {
	color: #fff;
}

.footer-details {
	letter-spacing: -4px;
	margin-top: 76px;
	padding: 0 8.680% 0 17.361%; /* 125 / 1440 | 250 / 1440*/
}

.footer-details > div {
	letter-spacing: 0;
	display: inline-block;
	width: 28.920188%; /* 308 / 1065 */ 
	position: relative;
	text-align: left;
	margin-bottom: 80px;
	vertical-align: top;
}

.footer-details div:nth-child(3n+2) {
	margin: 0 6.5727%; /* 70 / 1065 */ 
}

.footer-details img {
	float: left;
	position: absolute;
	width: 19.48052%; /* 60 / 308 */ 
	top: 0;
	left: 0;
	margin-left: -23%; 
}

.footer-details h3 {
	font-size: 1.125em; /* 18 / 16 */
	line-height: 1.44;
	text-transform: uppercase;
}

.footer-details p {
	width: 77.92208%; /* 240 / 1440 */
	font-size: 1em; /* 16 / 16 */
	opacity: 0.5;
	margin-top: 15px;
	line-height: 1.5;
}

.footer-logo {
	margin-top: 51px;
	display: inline-block; 
	opacity: 0.3;
}
/* #footer end*/


/* #copyright starts*/
.copyright {
  background-color: #333333;
  font-size: 0.875em; /* 14 / 16 */
  text-align: center;
}

.copyright .center {
	padding: 0 60px;
}

.copyright p {
	float: left;
	height: 70px;
	line-height: 70px;
}

.copyright li {
	margin: 0 0 0 40px;
}

.copyright li a {
	height: 70px;
	line-height: 70px;
}

.copyright li a:hover {
	color: #fff;
}
/* #copyright ends*/

